{% extends 'base1.html' %}
{% block body %}
<div class="container" style="justify-content:center; margin-top:10%;">
	<div class="container text-center">
		<div class="container text-center">
			<h1><b>You have already attempted this question</b></h1>
		</div>
		<br><br>
		<div class="container text-center">
			<a href="/score/Section/{{section_no}}/{{id_no}}"><button class="btn btn-default">
					<b>Your Score</b>
				</button></a>
		</div>
		<footer>
			<b>
				<div class="text-center p-t-40" style="font-size: 15px;">
					Developer :- Abhinav Sharma
				</div>
			</b>
		</footer>
		{% endblock %}