{% extends 'base1.html' %}
{% block body %}
<div class="container" style="justify-content:center; margin-top:10%;">
	<div class="container text-center">
		<div class="container text-center">
			<div class="page-header">
				<h1><b>No Questions Uploaded Yet</b></h1>
			</div>
		</div>
	</div>
	<footer>
		<b>
			<div class="text-center p-t-40" style="font-size: 15px;">
				Developer :- Abhinav Sharma
				<a href="https://www.facebook.com/abhinav.sharma.16906" class="fa fa-facebook"></a>
			</div>
		</b>
	</footer>
</div>
{% endblock %}